@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 100%;
    
}

.container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    
}


.texto {
    color: #000;
    border-bottom: 2px solid rgba(122, 94, 94, 0.459);
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    height: 70px;
}

h2 {
    font-size: 26px;
    background: rgb(36,0,0);
    background: -webkit-linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,11,9,1) 37%, rgba(255,51,0,1) 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-transform: uppercase;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    font-weight: 500;
}

.separa {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}

.form input { 
    margin-top: 15px;
}

.d1,
.d2,
.d3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
    height: 100%;
    overflow: hidden;
}

.btn {
    border-radius: 20px;
    width: 90px;
    height: 40px;
    color: white;
    background: rgba(218,21,21,1);
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin: 3%;
    font-size: 16px;
    border: 2px solid rgba(0, 0, 0, 0.211);
}

.arruma2{
    margin-left: 25px;
}

.separa_btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.btn:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.texto1{
    margin-left: 1%;
    overflow: hidden;
    width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.agrupamento input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; 
    display: none;
}

.checkmark {
    
    height: 21.5px;
    width: 21.5px;
    background-color: rgb(190, 189, 189);
    cursor: pointer;
    display: block;
}

.agrupamento:hover input~.checkmark {
    background-color: #ccc;
}

.agrupamento input:checked~.checkmark {
    
    background-size: cover;
    background-position: center;
    background-color: red;
}

.agrupamento:after {
    content: "";
    display: none;
}

.agrupamento input:checked~.checkmark:after {
    display: block;
    content: '\00D7';
    color: #fff;
    font-size: 29px;
    margin: 0;
    margin-top: -9.8px;
    margin-left: .7px;
}

.escreve {
    margin-top: -5.5px;
    margin-left: 25px;
}

input[type="text"] {
    padding: .7rem;
    width: 60%;
    height: 10px;
    border: none;
    border-bottom: 2px solid #2c0202;
    outline: none;
    background-color: rgb(246, 246, 246);
    font-size: 16px;
    outline: none;
    transition: all .3s;
    font-family: 'Poppins', sans-serif;
    margin: 2%;
    margin-top: -1%;
    transition: .5s;
}

button {
    padding: .7rem;
    width: 10%;
    height: 34px;
    background-color: #000;
    font-size: 20px;
    margin-left: -3%;
    margin-top: -1%;
    border: none;
    outline: none;
    transition: all .3s;
    font-family: 'Poppins', sans-serif;
    transition: .5s;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    color: #fff;
    cursor: pointer;
}

input[type="number"] {
    padding: .7rem;
    width: 60%;
    height: 10px;
    border: none;
    border-bottom: 2px solid #2c0202;
    outline: none;
    background-color: rgb(246, 246, 246);
    font-size: 16px;
    outline: none;
    transition: all .3s;
    font-family: 'Poppins', sans-serif;
    margin: 2%;
    margin-top: -1%;
    transition: .5s;
}
input[type="time"] {
    padding: .7rem;
    width: 40%;
    height: 10px;
    border: none;
    border-bottom: 2px solid #2c0202;
    outline: none;
    background-color: rgb(246, 246, 246);
    font-size: 16px;
    outline: none;
    transition: all .3s;
    font-family: 'Poppins', sans-serif;
    margin: 2%;
    margin-top: -1%;
    transition: .5s;
}

input[type="text"]:focus{
    border-bottom: 2px solid red;
}

input[type="text"]:focus .pesquisa button{
    background-color:  red;
}

input[type="number"]:focus{
    border-bottom: 2px solid red;
}

select{
    padding: .2rem;
    width: 75%;
    border: 2px solid #50505064;
    color: #2c0202;
    font-size: 16px;
    transition: all .3s;
    font-family: 'Poppins', sans-serif;
    margin-top: -10%;
}

.outro{
    margin-top: -5.5px;
    margin-left: -1.5px;
}

label{
    display: flex;
    flex-direction: row;
    height: 25px;
}

label.agrupamento2{
    display: flex;
    flex-direction: column;
    height: auto;
    
}

.form{
    overflow-y: scroll;
    height: 420px;
    display: block;
}

.container{
    height: 100%; 
}

.loading{
    display: none;
    position: absolute;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background-color: white;
}
.carregamento{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid crimson;
    border-right: 10px solid transparent;
    animation: lo 1s ease-in-out infinite;
}

@keyframes lo{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.checko {
    display: none;
    position: absolute;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 3;
    background-color: white;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

}
.checko i{
    font-size: 100px;
}
.checko span{
    
    cursor: pointer;
}
.checko span:hover{
    text-decoration: underline;
}

.arruma4
{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pesquisa{
    display: flex;

}


input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 15rem;
     background: linear-gradient(90deg, rgb(245, 68, 68) 0%, rgb(54, 212, 83) 100%);
     border-radius: 0.5rem;
     height: 1rem;
 }

 
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; 
    appearance: none;
    background-color: #ffffff;
    border: 3px solid #000;
    height: 1.5rem;
    border-radius: 2rem 2rem 2rem .25rem;
    transform: rotate(-45deg);
    width: 1.5rem;
    margin-top: -30px;
 }

 .arruma2 span{
    width: 15rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
 }