@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    
}

h3{ 
    font-weight: 700;
}

.ti{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5em;
    background: rgb(36,0,0);
    background: -webkit-linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,11,9,1) 37%, rgba(255,51,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin: 0     
}

.abacima{
    color: #000;
    margin: 1%;
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0 5%;
    justify-items: center;
    border: 2px solid rgba(122, 94, 94, 0.459);
    border-radius: 25px;
    height: 40px;
    transition: .3s;
}

.abacima h3  
{
    text-align: left;
    margin: 0;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.abacima:hover{
    color: #fff;
    background: rgba(218,21,21,1)
}

.abacima.active{
    color: #fff;
    background: rgba(218,21,21,1);
    border: 2px solid rgba(50, 44, 44, 0.455)
}

.abas{
    margin: 3%;
    overflow: hidden;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    align-self: flex-start;
    width: 20%;
    cursor: pointer;
    transition: .5s;
}

iframe{
    display: none;
}

#iframe1{
    display: block;
}

.formes{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-top: 20px;
}

.iframes{
    width: 70%;
    height: 75vh;
    margin-top: -15%;
}

.iframes iframe{
    border: none;
}

.termo{
    background-color: rgb(187, 7, 7);
    font-size: 20px;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: fixed;
    right: 25px;
    bottom: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}

.termo:hover{
    background-color: rgb(134, 16, 16);
    transition: .5s;
}

@media (max-width: 600px){
    .ti{
        display: none;
    }
    .formes{
        flex-direction: column;
    }
    .abas{
        flex-direction: row;
        justify-content: left;
        width: 95%;
        overflow-x: scroll;
    }
    .iframes{
        width: 95%
    }
    .abacima{
        height: 35px;
        width: 150px;
        font-size: .7em ;
        padding: 0 2%;
    }
}